body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.errorWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.errorWrapper .title {
  font-size: 32px;
  font-weight: 700;
  color: #f3f3f3;
}

.errorWrapper .info {
  font-size: 14px;
  color: #f3f3f3;
}

.homeBtn,
.homeBtn:focus,
.homeBtn:hover,
.homeBtn:visited {
  text-decoration: none;
  font-size: 14px;
  color: #f3f3f3;
  padding: 17px 77px;
  border: 1px solid #f3f3f3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  margin: 20px 0;
  width: max-content;
  background-color: transparent;
  outline: 0;
  text-transform: capitalize;
}

.manIcon {
  background: url("https://www.hotstar.com/assets/b5e748831c911ca02f9c07afc11f2ae5.svg")
    center center no-repeat;
  display: inline-block;
  height: 100px;
  width: 118px;
  margin-bottom: 16px;
}
