@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.heading {
  text-align: center;
  font-size: 150px;
  text-transform: uppercase;
  color: transparent;
  background: url(giphy.gif) no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  font-family: "Birthstone", cursive;
}
